

<div class="container contenedorPadre" >

    

    <div class="container Clogos" >

        <h1 class="titulo2"  >Mis Redes</h1>

        <div class="container cardsito" >
            <mat-card style="background-color: gray;">
                <mat-card-header>
                    <img src="../../assets/fb.png" alt="" mat-card-avatar>
                    <mat-card-title>Facebook</mat-card-title>
                <mat-card-subtitle>Elizabeth Solis</mat-card-subtitle>
                </mat-card-header>
    
                <mat-card-content>
                    <a href="https://www.facebook.com/profile.php?id=100041222568608" style="color: white;" target="_blank"><button mat-raised-button style="background-color: #484444" class="botonsito">Visitar</button></a>
                </mat-card-content>
                
                
                
            </mat-card>

        </div>

        <div class="container cardsito">

            <mat-card style="background-color: gray;">
                <mat-card-header>
                    <img src="../../assets/instagram.png" alt="" mat-card-avatar>
                    <mat-card-title>Instagram</mat-card-title>
                     <mat-card-subtitle>eli16solis7u7</mat-card-subtitle>
    
                </mat-card-header>
    
                <mat-card-content>
                    <a href="https://www.instagram.com/eli16solis7u7/?hl=es-la" style="color: white;" target="_blank"><button mat-raised-button style="background-color: #484444;" class="botonsito">Visitar</button></a>
                    
    
                </mat-card-content>
                
                
                
            </mat-card>

        </div>

        <div class="container cardsito">
            <mat-card style="background-color: gray;">
                <mat-card-header>
                    <img src="../../assets/wsp.png" alt="" mat-card-avatar>
                    <mat-card-title>Whatsapp</mat-card-title>
                    <mat-card-subtitle>+51 912 896 889</mat-card-subtitle>
    
                </mat-card-header>
    
                <mat-card-content>
                    <a href="https://api.whatsapp.com/send?phone=51912896889&text=Hola%2CElizabeth.%20Necesito%20informaci%C3%B3n.%F0%9F%98%84" style="color: white;" target="_blank"><button mat-raised-button style="background-color: #484444;" class="botonsito">Chatear</button></a>
    
                </mat-card-content>
               
                
                
            </mat-card>
        </div>

        <div class="container cardsito">
            <mat-card style="background-color: gray;">
            
                <mat-card-title>Código QR</mat-card-title>
                <a href=""><img src="../../assets/QR.png" alt="" class="logos"></a>
            </mat-card>
            <mat-card-content>
                
            </mat-card-content>
        </div>

        
        
       
    
        
        
        
<div class="container" style="padding: 1em;">

</div>
    
    
    
    
        
        

    </div>

    <div class="spacer" style="width: 200px;">

    </div>
    
    <div class="container formsito " >

        <h1 class="titulo2" >Contáctame</h1>

        <div class="formsito2" style="background-color: gray;">

            <form method="POST" action="https://formsubmit.co/arturo16nigapotonegro2015@gmail.com" enctype="multipart/form-data" >

                <div class="container" style="padding: 1em;display: block; margin: auto; ">
                   <label for="" style="padding-right: 10.5%; font-family: 'Roboto', sans-serif;font-size: 1.25rem;" class="titulo2">Email:</label>
                    <input type="email" name="email" placeholder="Email" style="border-radius: 5px;border: 2px solid orange; width: 300px;">
                    
    
                </div>
                
                <div class="container" style="padding: 1em;">
                    <label for="" style="padding-right: 5%;font-family: 'Roboto', sans-serif;font-size: 1.25rem;" class="titulo2">Mensaje:</label>
                    <textarea name="message" placeholder="Escríbeme" style="border-radius: 5px;border: 2px solid orange;width: 300px;"></textarea>
                    
                    
            
                
    
                </div>

                <input type="hidden" name="_captcha" value="false">
                <button type="submit" class="btn btn-success btn-block" style="margin-left:43%;">Enviar</button>

                
               
            </form>

            <img src="../../assets/cartita.png" alt="" style="padding-left: 25%;padding-top: 10%;">

            
    
    
           

        </div>

        
    </div>
    

</div>









<footer style="background-color: rgba(33,33,33);" class="footer">

    
    <div class="container footercontainericons" style="color: white;">
        <a style="color: white;" href="https://www.facebook.com/profile.php?id=100041222568608" target="_blank"> <i class="fab fa-facebook-square iconosfooter"></i></a>
        <a style="color: white;" href="https://www.instagram.com/eli16solis7u7/?hl=es-la" targer="_blank"><i class="fab fa-instagram iconosfooter" style="padding-left: 10%;"></i></a>
       
        

    </div>
    

    <div class="container footercontainer" style="color: white;">
       © 2022 Copyright: Elizabeth Solis
    </div>
    
</footer>