
  
  
  <div class="container" id="Elizabeth">

    <div class="container contenedor1E" >
        
          

          <img class="puerca" src="assets/PUERCA.jfif" alt="">
          
        

      </div>


      <div class="container  contenedor1E2" >
         <h1 class="titulo1"><span>Hola, soy</span></h1>
         <h1 class="titulo1"><span>Adriana Solis</span></h1>
         <p class="PresentacionP">Cosmetóloga de Montalvo</p>
         <p class="PresentacionP">Trabajos personalizados, tratamientos con previa cita.</p>
         <a href="https://www.facebook.com/profile.php?id=100041222568608" target="_blank"> <i class="fab fa-facebook-square iconom" style="margin-right: 10px; margin-left: 60px;"></i></a>
         <a href="https://www.instagram.com/eli16solis7u7/?hl=es-la" target="_blank"><i class="fab fa-instagram iconom"></i></a>

         <button mat-raised-button style="margin-left:10px" class="boton" (click)="Contactame()">Contáctame</button>
        
         
         
      </div>

  </div>
        
        
        
      

      

  <h1 class="titulo2" style="padding-top: 2em;" >Acerca de mí</h1>
  <h4 style="opacity:70% ; text-align: center;">introducción</h4>
  
      <div class="container" id="Elizabeth">
        
          <div class="container contenedor1E" >
            
            <img class="puerca2" src="assets/cara.png" alt="">

          </div>

          <div class="container contenedor1E2" >
              <p class="PresentacionP">Me llamo Adriana, soy estudiante de Cosmetología en el instituto Montalvo, tengo experiencia y trabajos realizados.	</p>
              <p class="PresentacionP">Revisa la sección de mis trabajos por si estás interesado en alguno de ellos. </p>

                <div class="container informacion" style="padding: 1em;">
                    <div class="container" style="padding: 1em;">
                        <p style="margin-left: 50px; font-size: 1.5rem;"><span style="font-family: 'Roboto', sans-serif;">01+</span></p>
                        <p class="PresentacionP" style="opacity: 100%;"><span style="font-family: 'Roboto', sans-serif;">Años de experiencia</span></p>


                    </div>
                    <div class="container" style="padding: 1em;">
                        <p style="margin-left: 40px; font-size: 1.5rem;"><span style="font-family: 'Roboto', sans-serif;">30+</span></p>
                        <p class="PresentacionP" style="opacity: 100%;"><span style="font-family: 'Roboto', sans-serif;">Trabajos realizados</span></p>

                        
    
                    </div>

                    

                </div>

                <button mat-raised-button style="margin-left:130px" class="boton" (click)="Ofrezco()">¿Qué ofrezco?</button>
          </div>

      </div>



      <h1 class="titulo2" style="padding-top: 2em;">Mi Experiencia</h1>
  <h4 style="opacity:70% ; text-align: center;font-family: 'Roboto', sans-serif;">Habilidades</h4>

<div class="container experiencia">

    <div style="height: 100px;">
        <i class="fas fa-graduation-cap iconito" style="font-size: 1.6rem; color: #6e57e0;"><span style="margin-left: 10px; font-family: 'Roboto', sans-serif;">Educación</span></i>


        <div class="container educacion">
            <i class="fas fa-calendar-alt " style="opacity: 85%;"><span style="margin-left: 10px;opacity: 85%;font-family: 'Roboto', sans-serif;">2021-2022</span></i>
            <h3 style="margin: 0%;padding: 0%;font-family: 'Roboto', sans-serif;"> <span style="font-family: 'Roboto', sans-serif;">Carrera de cosmetología</span> </h3>
            <h3 style="font-family: 'Roboto', sans-serif;">Montalvo<img src="../../assets/mntalvo.png" alt="" style="width: 60px;height: 60px;"></h3>
        </div>

    </div>
  
  <div>
      <i class="fas fa-briefcase iconito" style="font-size: 1.6rem; padding-left:30%; color: #6e57e0;" ><span style="margin-left: 10px; font-family: 'Roboto', sans-serif;">Trabajo</span></i>


      <div class="container trabajo ">
        <i class="fas fa-calendar-alt " style="opacity: 85%;"><span style="margin-left: 10px;opacity: 85%;font-family: 'Roboto', sans-serif;"> 2021-Actualidad</span></i>
        <h3 style="margin: 0%; font-family: 'Roboto', sans-serif;">Trabajos hechos </h3>
        <h3 style="padding-top: 10%;font-family: 'Roboto', sans-serif;">Domicilio<i class="fas fa-home" style="font-size: 1.5rem;padding-left: 10%;"></i></h3>
        <button mat-raised-button  class="boton" (click)="Trabajos()" >Mis Trabajos</button>
      </div>



    </div>


    


</div>

  
  
     

   
<footer style="background-color: rgba(33,33,33);" class="footer">

    
    <div class="container footercontainericons" style="color: white;">
        <a style="color: white;" href="https://www.facebook.com/profile.php?id=100041222568608" target="_blank"> <i class="fab fa-facebook-square iconosfooter"></i></a>
        <a style="color: white;" href="https://www.instagram.com/eli16solis7u7/?hl=es-la" targer="_blank"><i class="fab fa-instagram iconosfooter" style="padding-left: 10%;"></i></a>
       
        

    </div>
    

    <div class="container footercontainer" style="color: white;">
       © 2022 Copyright: Elizabeth Solis
    </div>
    
</footer>
     


      

