.home__social-icon {
    font-size: 1.25rem;
    
  }
  
  .home__social-icon:hover {
    color: white;
  }


.imagen{
    order: 1;
    justify-self: center;
}

#Elizabeth{
    display: flex;
    position: relative;
    margin-right: 1300px;
}
.puerca{
    width: 450px;
    height: 450px;
    border-radius: 20px;
}
.spacer{
    height: 100px;
}
.about{
    padding-top:3em;
}
.puerca2{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

 
  
  
  #Elizabeth{
    margin: auto;
    padding: 1em;
  }
  
  .contenedor1E{
    max-width: 400px;
    padding: 1em;
  }
  .contenedor1E2{
    margin: auto;
    padding: 1em;
    max-width: 400px;
  }
  .C2{
    margin: auto;
    max-width: 400px;
  }
  .titulo1{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
  }
  .titulo2{
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  }
  .infoEX{
    font-family: 'Roboto', sans-serif;
  }
  .iconom{
    font-size: 1.25rem;
    color: #6e57e0;
  }
  .iconom:hover{
    color: orange;
  }
  .PresentacionP{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    opacity: 80%;
  }
  .boton:hover{
    color: orange;

  }
  #Elizabeth2{
    padding: 5em;
    margin: auto;  
    grid-row: auto;  
  }
  .AcercaContenedor1{
    
    max-width: 400px;
    
    padding: 1em;
    display: flex

  }
  .AcercaContenedor2{
    justify-content: right;
    max-width: 400px;
    padding: 1em;
    display: flex
    
    
  }
  .informacion{
    display: flex;
  }


  .qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
  
  .qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
  }
  .calendario{

    margin: auto;
    display: flex;
  }
  .iconos{
    margin: auto;
    justify-content: center;
  }
  .iconito{
    margin-left: 10px;
    
  }
  .experiencia{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    padding-left:23%;
    
  }
  .educacion{
    padding: 1em;

  }
  .trabajo{
    padding: 1em;
    padding-left: 85px;
  
  }

  .footer{
    display: block;
    height: 100px;
    padding-top: 1.5%;
  }
.footercontainer{
 
  
  margin: auto;
  padding-left: 30%;
}
.footercontainericons{
 
  max-height: 20px;
  max-width: 300px;
  padding-left:7%;
  
  margin: auto;
 
  
}
.iconosfooter:hover{
  color: orange;
}
